$fontFolder : './';

$headline: 'modern-sans', 'serif';
$body: 'Raleway', 'serif';

@font-face {
  font-family: 'modern-sans';
  src: url($fontFolder + 'MODERNE SANS.eot'); /* IE9 Compat Modes */
  src: url($fontFolder + 'MODERNE SANS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($fontFolder + 'MODERNE SANS.woff') format('woff'), /* Modern Browsers */
       url($fontFolder + 'MODERNE SANS.ttf')  format('truetype'), /* Safari, Android, iOS */
       url($fontFolder + 'MODERNE SANS.svg#bcb65e5f871894c6b949303cede8fd32') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
