body {
  padding: 0;
  margin: 0;
}

.body-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 105%;
  overflow: auto;

  section:first-child {
    width: 100%;
    height: 100%;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);

    background: {
      image: url('background.jpg');
      size: cover;
      position: center;
      repeat: no-repeat;
    }

    .block {
      @include flex(1);
    }

    .small-block {
      @include flex(.5);
    }
  }

  section:last-child {
    width: 100%;
    padding: 2rem;
    @include box-sizing(border-box);
  }
}

h1 {
  color: $white;
  text-align: center;

  &.name {
    margin: 0 1rem;

    font: {
      family: $headline;
      size: 3.5rem;
    }
    text-transform: uppercase;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 2px 2px transparentize($black, .9);
  }

  &:not(.name) {
    margin: 1rem;

    font: {
      family: $body;
      size: 2rem;
      weight: lighter;
    }
  }

  &.arrow {
    text-shadow: 2px 2px transparentize($black, .9);

    @keyframes move-arrow {
      from {
        @include transform(translateY(0px));
      }

      to {
        @include transform(translateY(-30px));
      }
    }
    @include animation(2s ease infinite alternate move-arrow);
  }
}

h2, h3, h4, li {
  font-family: $body;
}

h2 {
  margin: 2rem 0;

  a {
    &, &:visited {
      padding: 5px 10px;

      font-size: 2rem;
      line-height: 4rem;
      color: $black;
      text-decoration: none;

      border-bottom: 4px solid $green;
      background-color: transparent;
      @include transition(background-color .5s ease, color .5s ease);
    }

    &:hover {
      text-decoration: none;

      color: $white;
      background-color: $green;
    }
  }
}

h3 {
  margin: 3rem 0 1rem 0;

  font-size: 1.6rem;
  color: $black;
}

h4 {
  margin: 2rem 0 1rem 1rem;

  font-size: 1.3rem;
  color: $black;
}

ul {
  margin: 1rem 1rem 1rem 2rem;
  padding: 0;

  list-style-type: none;

  li {
    &:before {
      content: ">";

      margin: 0 .5rem 0 0;

      font: {
        size: 1rem;
        family: $body;
      }
    }

    padding-bottom: 3px;
    margin: .5rem 0;

    font-size: 1rem;
    line-height: 1.5rem;
    color: $black;

    a {
      &, &:visited {
        color: inherit;
        text-decoration: none;

        border-bottom: 1px solid $black;
        @include transition(border-bottom-color .5s ease, color .5s ease);
      }

      &:hover {
        color: $green;
        text-decoration: none;

        border-bottom-color: $green;
      }
    }
  }
}
