body {
  background-color: $black;
  padding: 3rem;
}

h1 {
  color: $yellow;
  margin: 0 0 3rem 0;

  .title {
    font: {
      family: $headline;
      size: 3rem;
    }
  }

  .subtitle {
    font: {
      family: $body;
      size: 2.5rem;
      weight: normal;
    }
  }
}

h2, h3, h4, li {
  font-family: $body;
}

h2 {
  margin: 2rem 0;

  a {
    &, &:visited {
      padding-bottom: 5px;

      font-size: 2rem;
      color: $green;
      text-decoration: none;

      border-bottom: 4px solid $green;
      @include transition(border-bottom-color .5s ease, color .5s ease);
    }

    &:hover {
      text-decoration: none;
      color: $white;
      border-bottom-color: $white;
    }
  }
}

h3 {
  margin: 3rem 0 1rem 0;

  font-size: 1.5rem;
  color: $purple;
}

h4 {
  margin: 2rem 0 1rem 0;

  font-size: 1.3rem;
  color: $blue;
}

ul {
  margin: 1rem 1rem 1rem 2rem;
  padding: 0;

  list-style-type: none;

  li {
    &:before {
      content: ">";

      margin: 0 .5rem 0 0;

      font: {
        size: 1rem;
        family: $body;
      }
    }

    padding-bottom: 3px;
    margin: .5rem 0;

    font-size: 1rem;
    line-height: 1.5rem;
    color: $blue;

    a {
      &, &:visited {
        color: inherit;
        text-decoration: none;

        border-bottom: 1px solid $blue;
        @include transition(border-bottom-color .5s ease, color .5s ease);
      }

      &:hover {
        color: $white;
        text-decoration: none;

        border-bottom-color: $white;
      }
    }
  }
}
