include mixins
include posts

doctype
html
  head
    title Adrien Cadet – Android Software Engineer 

    meta(charset='utf-8')
    meta(content='IE=edge;chrome=1', http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='French software engineer. An interactive showcase of my recent work.')
    meta(name='keywords', content='Adrien, Cadet, engineer, software, computer, sciences, design, mobile, Android, programming, web, ENSEIRB-MATMECA, ENSEIRB, showcase')

    link(rel='stylesheet', type='text/css', href='all.css')
  body
    
    section
      
      include body  
      
    include footer
