include mixins
include posts

doctype
html
  head
    title Adrien Cadet – Android Software Engineer 

    meta(charset='utf-8')
    meta(content='IE=edge;chrome=1', http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='French software engineer. An interactive showcase of my recent work.')
    meta(name='keywords', content='Adrien, Cadet, engineer, software, computer, sciences, design, mobile, Android, programming, web, ENSEIRB-MATMECA, ENSEIRB, showcase')

    link(rel='stylesheet', type='text/css', href='all.css')
  body
      h1 
        span.title Adrien Cadet / 
        span.subtitle Android Software Engineer
        
      h2 
        a(href='http://acadet.github.io/web-resume/') Résumé
      
      h2 
        a(href='https://www.linkedin.com/in/adriencadet') LinkedIn
        
      h2 
        a(href='https://github.com/acadet') Github
        
      h2 
        a(href='https://twitter.com/CadetAdrien') Twitter
        
      h3 Recent Work
      
      ul
        li
          a(href='') Tiramisu
          | 
          | / Complete list of Android SDK UI components.
        li
          a(href='') Vagabond
          | 
          | / Collections of pictures I took around the world.
          
      h3 Blog Posts
      
      h4 Rails School
        
      ul
        each val in rails
          +post(val[0], val[1], val[2])
      
      h4 Coshx Labs
        
      ul
        each val in coshx
          +post(val[0], val[1], val[2])
      
      h4 Medium
        
      ul
        each val in medium
          +post(val[0], val[1], val[2])
      
      include footer
