- 
  var rails = [
      ["Let's try Reactive programming", "10/25/2016", "https://www.railsschool.org/l/let-s-try-reactive-programming"],
      ["Preparing the code interview", "9/13/2016", "https://www.railsschool.org/l/preparing-the-code-interview"],
      ["The Art of Git Branching", "9/6/2016", "(https://www.railsschool.org/l/the-art-of-git-branching"],
      ["Kotlin Tour", "2/23/2016", "https://www.railsschool.org/l/kotlin-tour"],
      ["Learn the Swift toolbox", "1/26/2016", "https://www.railsschool.org/l/learn-the-swift-toolbox"],
      ["Build native iOS apps without Interface Builder", "12/8/2015", "https://www.railsschool.org/l/build-native-ios-apps-without-interface-builder"],
      ["Introduction to graphs", "11/3/2015", "https://www.railsschool.org/l/introduction-to-graphs"],
      ["Introduction to sorting algorithms", "10/27/2015", "https://www.railsschool.org/l/sorting-algorithms"],
      ["Swift walkthrough - Part 2", "6/30/2015", "https://www.railsschool.org/l/swift-walkthrough-part-2"], 
      ["Swift walkthrough - Part 1", "6/16/2015", "https://www.railsschool.org/l/swift-walkthrough-part-1"],
      ["Overview of functional programming", "5/19/2015", "https://www.railsschool.org/l/overview-of-functional-programming"],
      ["Introduction to NW.js", "4/21/2015", "https://www.railsschool.org/l/introduction-to-node-webkit"],
      ["Create a Ruby gem", "3/10/2015", "https://www.railsschool.org/l/create-a-ruby-gem"]
  ]

- 
  var coshx = [
    ["Introduction to Scoop", "4/12/2016", "http://www.coshx.com/blog/2016/04/12/introduction-to-scoop/"],
    ["Chaining (async) operations in Swift and Java", "3/18/2016", "http://www.coshx.com/blog/2016/03/18/chaining-async-operations-in-swift-and-java/"],
    ["Engineer a TODO list using Caravel and Framework7", "12/4/2015", "http://www.coshx.com/blog/2015/12/04/engineer-a-todo-list-using-caravel-and-framework7/"],
    ["Releasing Caravel 1.0.0", "11/19/2015", "http://www.coshx.com/blog/2015/11/19/releasing-caravel-1-0-0"],
    ["Build native iOS apps skipping Interface Builder", "7/14/2015", "http://coshx.com/blog/2015/07/14/build-native-ios-apps-skipping-interface-builder/"],
    ["Introduction to functional programming", "6/4/2015", "http://www.coshx.com/blog/2015/06/04/introduction-to-functional-programming/"],
    ["Android continuous integration using Gradle, Android Studio and Jenkins", "3/31/2015", "http://www.coshx.com/blog/2015/03/31/android-continuous-integration-using-gradle-android-studio-and-jenkins/"],
    ["Use JAVA 8's lambda functions in Android", "3/21/2015", "http://www.coshx.com/blog/2015/03/23/use-java-8s-lambda-functions-in-android/"],
    ["Craft your own gem", "2/2/2015", "http://www.coshx.com/blog/2015/02/02/craft-your-own-gem/"],
  ]
